* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.view {
    /* background-color: aqua; */
    height: 100vh;
    width: 100vw;
    display: flex;
    color: #E6E2C3;
}

.main-view {
    background-color: #1C315E;
    flex: 3;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.secondary-view {
    background-color: #16274d;
    flex: 1;

    display: flex;
    flex-direction: column;

}

.main-password-title {
    /* background-color: yellow; */
    font-size: 5rem;
    font-weight: bold;
}

.main-password-number {
    margin-top: 2rem;
    font-size: 10rem;
    /* background-color: yellowgreen; */
}

ul {
    list-style-type: none;
    height: 100%;

    display: flex;
    flex-direction: column;

    padding: 0 1rem;

}

.secondary-title {
    text-align: center;
    padding: 1rem 0;

    font-weight: bold;
    font-size: 1.5rem;

}

.secondary-box-password {
    background-color: #227C70;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    margin-bottom: 2rem;
    border-radius: .5rem;

    font-weight: bold;
    font-size: 4rem;
    
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}

.secondary-password-title {
 margin-right: 1.2rem;
 font-weight: 400;
}

.secondary-password-number {

}